{
    "token": "",
    "clientId": "",
    "weatherApi": "",
    "MongoDBURI": "",
    "logsChannelId": ""
      "statuses": [
       {
          "type": "Playing",
          "state": "with commands"
       }
  ]
}